doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')
  body
    block content
